.modelle{
    border: 2px solid darkgrey;
    margin: 1em;
    width: 16em;
    background-color: lightgrey;
    padding: 4px;
    border-radius: 10px;
    font-size: 15pt;
    line-height: 0.9;
}
.modelle img{
    width: 16em;
    max-width: 100%;
}
.cont{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.headerModelle{
    font-size: 20pt;
    text-decoration: underline;
    margin-bottom: 1em;
}
.subheaderModelle{
    font-size: 15pt;
}
.modellefilter{
    border: 2px solid darkgrey;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.butdiv{
    padding: 4px;
    width: 100%;
    text-align: center;
}
#filter{
    background-color: darkgrey;
    color: black;
    line-height: 0.1;
    }
.filter{
    border: 2px solid lightgrey;
    margin: 0.2em;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
}
.filter input{
  width: 18em;
  font-size: 15pt;
  margin-left: 0.5em;
}
.filtercheck{
    font-size: 15pt;
    border: 2px solid lightgrey;
    margin: 0.2em;
    background-color: white;
    padding: 4px;
    border-radius: 10px;
}
