/** CSS-Stylesheet für die Startseite */

<style>
.ofaSlideshowElements {display:none;}
.ofaSlideshowAnimation {position: relative; animation: ofaSlideshowAnimation 10s;}
@keyframes ofaSlideshowanimation {
  0% {opacity: 0;}
  20% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}
</style>

.angebote{

}

.überschrift{
  font-size: 40px;
}

.felder{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.button{
  display: flex;
  flex-wrap: wrap;
}
