/** CSS-Stylesheet für die Startseite */

.SlideshowElements {display:none;}
.SlideshowAnimation {position: relative; animation: SlideshowAnimation 6s;}
@keyframes SlideshowAnimation {
  0% {opacity: 0;}
  20% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.angebote img{
  width: 100%;
}

.überschrift{
  text-align: center;
  font-size: 25pt;
  margin-top: 2em;
  margin-bottom: 2em;
  font-weight: bold;
  text-decoration: underline;
}

.felder{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.felder input{
  width: 20em;
  font-size: 20pt;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.linkespalte{
  flex: 50%;
  text-align: center;
}

.rechtespalte {
  flex: 50%;
  text-align: center;
}

#anliegen{
  width: 20em;
  height: 12em;
  font-size: 20pt;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.button{
  margin: 2em;
  text-align: center;
  font-size: 14pt;
}

#senden{
  width: 35em;
}
