
tableStandorte {
#myInput {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 5px solid black; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  -webkit-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
-moz-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
}

#standorte {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 5px solid black; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  -webkit-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
-moz-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 10%; /* Add padding */
  -webkit-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
-moz-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 5px solid black;
  -webkit-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
-moz-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #dadada;
  -webkit-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
-moz-box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
box-shadow: 0px 0px 300px 72px rgba(227,15,0,1);
}
}

/* Dropdown Button */
.dropbtn {
 background-color: #dadada;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #dadada;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #dadada;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #dadada;}

.button-content{
  background-color: green;
  border: none;
  color: dadada;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

iframe{
max-width: 100%;
max-height: 100%;

}
